html, body {
	/* grey background */
	background-color: #ebeced;
}
#container {
	margin: 0 auto;
	width: 800px;
	background-color: #fff;
}

/*	Deamon slider specific styles
------------------------------------------*/
#gallery {
	width : 100%;
}
#deamonSlider {
	/* black background */
	background-color: #000;
}

.ds-isthumb {
	/* specify this on the theme as well*/
	background-color: #000;
	text-align: center;
	margin: 0 auto;
	background-color: #000;
}
.ds-thumbDimentions {
	display: inline;
	height : 90px;
	width : 50px;
}
.ds-thumbDimentions img {
	border: 0;
	vertical-align: middle;
	max-width: 125px;
	width: 100%;
}
/* Themes */
.theme-default {

}
.theme-diabolic-red {

}
.theme-blue-ocean {

}
.theme-jade {

}